@import "tailwindcss";
@tailwind utilities;

/* Animations */
.typing {
  overflow: hidden;
  border-right: 2px solid #c7d2fe;
  white-space: nowrap;
  animation:
    typing 2s steps(6),
    blink 0.7s infinite step-end alternate,
    erase 2s steps(6) 3s infinite;
}

/* Tape le mot */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Efface le mot */
@keyframes erase {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* Curseur qui clignote */
@keyframes blink {
  0% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: #c7d2fe;
  }
}
